### Week 12 In Class Assignment
##### Angela Spencer - December 8, 2021

#### 1. Write a lambda function to rearrange positive and negative numbers in a given list

Sample output:

original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]

In [12]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

In [13]:
#resulting_list = list(filter(lambda x: x>0, original_list)) + list(filter(lambda x: x<0, original_list))

resulting_list= sorted(original_list, key = lambda i: 0 if i == 0 else -1 / i)

resulting_list

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

#### 2. Create a new dataframe using week_11/temperatures/temperature.csv file from last class. It should have the datetime column and one of the cities. Create a new boolean column called is_freezing that indicates if the temperature is at or below freezing. Use a lambda to create this column. Is there a better way to do this than with a lambda?

The lambda function took 0.016 sec and the for loop took 0.032 sec and so the lambda approach is preferred because the code is cleaner and the execution time is faster.

In [18]:
import pandas as pd
import numpy as np
import time

In [15]:
temp_df = pd.read_csv('../Week_11/temperature.csv')
new_df = temp_df[['datetime', 'Vancouver']]
new_df

               datetime   Vancouver
0       10/1/2012 12:00         NaN
1       10/1/2012 13:00  284.630000
2       10/1/2012 14:00  284.629041
3       10/1/2012 15:00  284.626998
4       10/1/2012 16:00  284.624955
...                 ...         ...
45248  11/29/2017 20:00         NaN
45249  11/29/2017 21:00         NaN
45250  11/29/2017 22:00         NaN
45251  11/29/2017 23:00         NaN
45252   11/30/2017 0:00         NaN

[45253 rows x 2 columns]

In [16]:
start = time.time()

#Create a new boolean column called is_freezing that indicates if the temperature is at or below freezing.
freezing_lambda = new_df.assign(is_freezing=lambda x: new_df['Vancouver'] <= 273)
print(freezing_lambda)


end = time.time()


print(format(end-start))

               datetime   Vancouver  is_freezing
0       10/1/2012 12:00         NaN        False
1       10/1/2012 13:00  284.630000        False
2       10/1/2012 14:00  284.629041        False
3       10/1/2012 15:00  284.626998        False
4       10/1/2012 16:00  284.624955        False
...                 ...         ...          ...
45248  11/29/2017 20:00         NaN        False
45249  11/29/2017 21:00         NaN        False
45250  11/29/2017 22:00         NaN        False
45251  11/29/2017 23:00         NaN        False
45252   11/30/2017 0:00         NaN        False

[45253 rows x 3 columns]
0.015997648239135742

In [17]:
start2 = time.time()

#another way to do create an is_freezing column
freezing_list = []

for temp in new_df['Vancouver']:
    if temp <= 273:
        freezing_list.append(True)
    else:
        freezing_list.append(False)
       
new_df["is_freezing"] = freezing_list   
print(new_df)

end2 = time.time()


print(format(end2-start2))

               datetime   Vancouver  is_freezing
0       10/1/2012 12:00         NaN        False
1       10/1/2012 13:00  284.630000        False
2       10/1/2012 14:00  284.629041        False
3       10/1/2012 15:00  284.626998        False
4       10/1/2012 16:00  284.624955        False
...                 ...         ...          ...
45248  11/29/2017 20:00         NaN        False
45249  11/29/2017 21:00         NaN        False
45250  11/29/2017 22:00         NaN        False
45251  11/29/2017 23:00         NaN        False
45252   11/30/2017 0:00         NaN        False

[45253 rows x 3 columns]
0.031992197036743164

C:\Users\aspen\AppData\Local\Temp/ipykernel_11808/2415964160.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["is_freezing"] = freezing_list

#### 3. BONUS: if you still have time, try to do a pivot of the data in question 2 so you have the hourly data for all the cities and a flag for if it's freezing.